<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li>
					<a href="/" title="home">
						<img src="icon.jpg" alt="Company Logo" width="40" height="40" />
					</a>
				</li>
				<li>
					<a href="/stories">Stories</a>
				</li>
				<li>
					<a href="/team">Team</a>
				</li>
			</ul>
		</nav>
