<div
  style="
    background: #a6d9f7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
  "
>
  <div
    style="
      align-self: stretch;
      min-height: 150px;
      padding-left: 10px;
      padding-right: 10px;
      background: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 19px;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        flex: 1 1 0;
        align-self: stretch;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        color: black;
        font-size: 17px;
        font-family: Geologica;
        font-weight: 400;
        letter-spacing: 0.09px;
        word-wrap: break-word;
      "
    >
      <span>
        <%= qoute %>
      </span>
    </div>
  </div>
  <div
    style="
      align-self: stretch;
      padding-top: 25px;
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 30px;
      position: relative;
      justify-content: space-between;
      align-items: center;
      display: inline-flex;
    "
  >
    <div
      style="
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        display: inline-flex;
      "
    >
      <span
        style="
          color: var(--Text-Secondary, #3a5683);
          font-size: 15px;
          font-family: Geologica;
          font-weight: 500;
          letter-spacing: 0.19px;
          word-wrap: break-word;
        "
      >
      <%= name %>
      </span>
      <span
        style="
          color: var(--Text-Secondary, #3a5683);
          font-size: 11px;
          font-family: Geologica;
          font-weight: 400;
          letter-spacing: 0.17px;
          word-wrap: break-word;
        "
      >
        <%= company %>
      </span>
    </div>
    <img
    width="50px"
    height="50px"
      style="
        left: 107px;
        top: -20px;
        position: absolute;
        background: #d9d9d9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
      "
    src=<%= src %>
    />
  </div>
</div>
