<%- include("partials/header",{title: "Home Page"}) %>
<main>
<div class="big-welcome-container">
  <div class="h-group big-welcome">
    <h1>Product</h1>
    <h4>Product Subtitle</h4>
  </div>
  <span class="credit">
    Image By
    <a
      href="//commons.wikimedia.org/w/index.php?title=User:Zicheng_zic&amp;action=edit&amp;redlink=1"
      class="new"
      title="User:Zicheng zic (page does not exist)"
      >Zicheng zic</a
    >
    - <span class="int-own-work" lang="en">Own work</span>,
    <a
      href="http://creativecommons.org/publicdomain/zero/1.0/deed.en"
      title="Creative Commons Zero, Public Domain Dedication"
      >CC0</a
    >,
    <a href="https://commons.wikimedia.org/w/index.php?curid=177206923">Link</a>
  </span>
</div>
</main>
<%- include("partials/footer") %>
