* {
    --Secondary: #A6D9F7;

    --Secondary-Text: #FFF;
}
nav {
    /* Layout */
    padding: 15px;

    /* Style */
    border-radius: 8px;
    background: var(--Secondary, #A6D9F7);
}
nav ul {
    /* Layout */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;

    /* Style */
    list-style-type: none;
}

nav a:link , nav a:visited{
    color: var(--Secondary-Text, #FFF);
    text-decoration: none;
}

nav ul li:first-child {
    margin-right: auto;
}

/** Home page */

.big-welcome-container {
    /* Layout */
    display: flex;
    height: 510px;
    padding: 106px 322px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    
    /* Style */
    background-image: url("/960px.jpg");
    background-size: cover;
}

.h-group {

}



.credit {
color: #000;

/* Headline 4 */
font-family: Geologica;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.010px;
}

/** Typography */

nav {
    font-family: Geologica;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.27px;
}

h1 {
    color: #000;

/* Headline 1 */
font-family: Geologica;
font-size: 104px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: -1.56px;
}

h4 {
color: #000;

/* Headline 4 */
font-family: Geologica;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.093px;
}